--index-url https://download.pytorch.org/whl/cu118
torch==2.1.0
--index-url https://download.pytorch.org/whl/cu118
torchvision==0.16.0
ultralytics==8.0.219
tensorflow==2.14.0
opencv-contrib-python==4.8.0.74
opencv-python==4.8.0.74
mediapipe==0.10.8
mysql-connector-python==8.0.33
PyQt5==5.14.2